* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 /* Root Variaveis */
:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --img-border: rgba(255, 255, 255, 0.2);
    --img-box-shadow: rgba(0, 0, 0, 0.7);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.05);
    --social-link-hover: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/MoonStars.svg);
}

/* Light Mode Variaveis */
.light  {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --img-border: rgba(0, 0, 0, 0.6);
    --img-box-shadow: rgba(0, 0, 0, 0.5);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.01);
    --social-link-hover: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/Sun.svg);
}


body * {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
}


body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}


#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px auto;
    padding: 0 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

/* Foto */
#profile img {
    width: 150px;
    animation: profileBorder 0.5s forwards;
    border: 3px solid var(--img-border);
    box-shadow: 6px 3px 20px var(--img-box-shadow);
}

.light #profile img {
    animation: profileBorder 0.5s forwards;
    border: 3px solid var(--img-border);
    box-shadow: 6px 3px 20px var(--img-box-shadow);
}

#profile img:hover {
    animation: profileHover 0.5s;
    cursor: pointer;
}

/* Nome */
#profile p {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
}

/* Botao de Light/Dark Mode */
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

/* Icone Light/Dark Mode */
#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;
    position: absolute;
    right: 1;
    z-index: 1;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    animation: slide-back 0.4s;
    cursor: pointer;
}

#switch button:hover {
    outline: 8px solid var(--social-link-hover);
}

.light #switch button {
    animation: slide-in 0.4s forwards;
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

/* Links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0px;
}

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.5s;
}

/* Pseudo-Selector */
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/* Links Sociais */
#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.5s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--social-link-hover);
}

/* Rodapé */
footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/* media queries */
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }
    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}


/* animation */

/* Light/Dark Mode Button*/
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

/* Light/Dark Mode Button*/
@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}

/* Imagem de Perfil Hover */
@keyframes profileBorder {
    from {
        border-radius: 5%;
    }
    to {
        border-radius: 50%;
    }
}

@keyframes profileHover {
    from {
        border-radius: 50%;
    }
    to {
        border-radius: 5%;
    }
}